/* --- TYPEWRITER TEXT --- */
.typewriter {
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  display: inline-block;
  animation: typing 3s steps(30) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  }
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
