.typewriter {
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px; /* reduced from 60px */
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  width: 0;
  display: inline-block;

  animation: typing 3s steps(30) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  }
}
